<!DOCTYPE html>
<html>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0"/>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<title>bootstrap</title>

		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/animate.css">
		<script src="../static/js/viewportchecker.js"></script>
		<script src="../static/js/script.js"></script>
	</head>
	<body class="text-center">
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
			    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			</ul>
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
			    <a class="nav-link" href="#">Contact</a>
			  </li>
			</ul>
			</div>
		</nav>

		<div class="container-fluid">
			<h1 class="hallo" style="animation-duration: 1s;">H</h1>
			<h1 class="hallo" style="animation-duration: 2s;left: 45%;">E</h1>
			<h1 class="hallo" style="animation-duration: 3s;left: 50%;">L</h1>
			<h1 class="hallo" style="animation-duration: 4s;left: 55%;">L</h1>
			<h1 class="hallo" style="animation-duration: 5s;left: 60%;">O</h1>
			<div class="center">
				<div class="rectangle"></div>
				<p class="text" style="top: 30%;">Hello</h1>
				<p class="text" style="top: 50%;">Everyone</h1>
			</div>
			<div class="bottom">
				<p class="down">Scroll Down</p>
				<svg class="scroll">
					<line x1="15" y1="30" x2="15" y2="0"/>
					<line x1="15" y1="30" x2="25" y2="15"/>
					<line x1="15" y1="30" x2="5" y2="15"/>
				</svg>
			</div>
			<div class="row posts">
				<div class="post"> I am in here </div>
				<div class="post"> Hello, wordl! </div>
				<div class="post"> Heyyyy </div>
				<div class="post"> So good </div>
				<div class="post"> Lucky </div>
				<div class="post"> Hacky </div>
			</div>
		</div>
	</body>
</html>