{%extends 'layout.html'%}

{%block title%}Главная{%endblock%}

{%block main%}
	<div class="bottom">
		<p class="down">Прокрути вниз</p>
		<svg class="scroll">
			<line x1="15" y1="30" x2="15" y2="0"/>
			<line x1="15" y1="30" x2="25" y2="15"/>
			<line x1="15" y1="30" x2="5" y2="15"/>
		</svg>
	</div>
	<div class="container-fluid">
			<div class="center">
				<p class="text" style="top: 30%;">Для мамы,</h1>
				<p class="text" style="top: 50%;">С любовью!</h1>
			</div>
			<div class="row posts">
				<div class="post"><div class="postImage" data-type="backgroundPost" data-speed="10"></div><div class="textPost"> I’ve got a family. It is small. We are a family of four. I’ve got a father, a mother and a brother. I haven’t got a sister. My father is.an engineer. He works in a plant. My mother is a teacher. She works at school. My brother is little. He doesn’t go to school. He goes to a kindergarten. He is four.</div></div>
				<div class="post"><div class="postImage" data-type="backgroundPost" data-speed="10"></div><div class="textPost"> I’ve got a family. It is small. We are a family of four. I’ve got a father, a mother and a brother. I haven’t got a sister. My father is.an engineer. He works in a plant. My mother is a teacher. She works at school. My brother is little. He doesn’t go to school. He goes to a kindergarten. He is four.</div></div> 
				<div class="post"><div class="postImage" data-type="backgroundPost" data-speed="10"></div><div class="textPost"> I’ve got a family. It is small. We are a family of four. I’ve got a father, a mother and a brother. I haven’t got a sister. My father is.an engineer. He works in a plant. My mother is a teacher. She works at school. My brother is little. He doesn’t go to school. He goes to a kindergarten. He is four.</div></div> 
				<div class="post"><div class="postImage" data-type="backgroundPost" data-speed="10"></div><div class="textPost"> I’ve got a family. It is small. We are a family of four. I’ve got a father, a mother and a brother. I haven’t got a sister. My father is.an engineer. He works in a plant. My mother is a teacher. She works at school. My brother is little. He doesn’t go to school. He goes to a kindergarten. He is four.</div></div> 
				<div class="post"><div class="postImage" data-type="backgroundPost" data-speed="10"></div><div class="textPost"> I’ve got a family. It is small. We are a family of four. I’ve got a father, a mother and a brother. I haven’t got a sister. My father is.an engineer. He works in a plant. My mother is a teacher. She works at school. My brother is little. He doesn’t go to school. He goes to a kindergarten. He is four.</div></div> 
			</div>
		</div>
{%endblock%}