{%extends 'layout.html'%}

{%block title%}Главная{%endblock%}

{%block hat%}
	<p class="text" style="top: 30%;">Для мамы,</p>
	<p class="text" style="top: 50%;">С любовью!</p>
{%endblock%}

{%block main%}
	<div class="post"><img src="../static/post1.jpg" class="postImage img-responsive"><div class="textPost"> У нас есть семья. Вносить душу в семью очень сложное занятие и мало кто хочет этим заниматься. Всем лишь бы вносить разногласия и отказываться принимать любые идеи. Ты из тех кто вносит большой вклад в семью и стараешься отдавать все.</div><div class="linkPost"><a href="{{ url_for('post1') }}" class="linkP">Перейти к записи</a></div></div>
	<div class="post"><img src="../static/post2.jpg" class="postImage img-responsive"><div class="textPost"> С самого детства ты была для меня примером поведения, стойкости и морали. Растила меня на чудесных книжках, мероприятиях. Водила в цирк и музеи. Я всегда буду это помнить с бесконечной теплотой и благодарностью. С улыбкой на лице я вспоминаю дество, которое ты создала.</div><div class="linkPost"><a href="{{ url_for('post2') }}" class="linkP">Перейти к записи</a></div></div> 
	<div class="post"><img src="../static/post3.jpg" class="postImage img-responsive"><div class="textPost"> По мере взросления все заложенные ценности укреплялись. Очень важно что в доме всегда царила чистота, уют и спокойствие. Можно было не отвлекаться на бытовые вещи и стремится к каким-то начинаниям и нацеливаться на них.</div><div class="linkPost"><a href="{{ url_for('post3') }}" class="linkP">Перейти к записи</a></div></div> 
	<div class="post"><img src="../static/post4.jpg" class="postImage img-responsive"><div class="textPost"> 21 век дошел и до России. В этом мире очень легко стать злым и поверить что люди вокруг тебя все тупые а ты один умный. Но это не возможно, благодаря добру и вере, что не все в мире требует объяснения и во что-то нужно просто верить. Это твои мысли, которые плотно легли в мою голову.</div><div class="linkPost"><a href="{{ url_for('post4') }}" class="linkP">Перейти к записи</a></div></div> 
	<div class="post"><img src="../static/post5.jpg" class="postImage img-responsive"><div class="textPost"> С Юбилеем! Все это длинные слова благодарности, ведь я помню много всего и ценю каждый момент. Я знаю что ты чудесный человек и надеюсь что ты так же будешь справляться со всеми ненужными желаниями и всегда думать о чем-то большем. Я и Юля желаем тебе счастья, здоврвья и чтобы ты всегда была такой, какой ты всегда и хотела бы быть.</div><div class="linkPost"><a href="{{ url_for('post5') }}" class="linkP">Перейти к записи</a></div></div> 
    <footer>
      <div class="container">
      	<p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>	
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
		<div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>

    </footer>
{%endblock%}