{%extends 'layout.html'%}

{%block title%}Университет{%endblock%}

{%block hat%}
  <img class="img-responsive head" src="../static/post4.jpg">
{%endblock%}

{%block main%}
    <div class="mainPost"> <p>21 век дошел и до России. Прогрессивные технологии и стремление к науке. Я поступил в универ на айти специальность совершенно случайно, и самое удивительное что не прогадал. Сейчас это мой главный интерес к жизни и я действительно этим загорелся. В этом мире очень легко стать злым и поверить что люди вокруг тебя все тупые а ты один умный. Но это не возможно, благодаря добру и вере, что не все в мире требует объяснения и во что-то нужно просто верить. Это твои мысли, которые плотно легли в мою голову. </p>
    <p>Каждое утро начинается с мысли что я свободен и могу заниматься тем что мне интересно и в свое удовольствие. Никто мне не будет указывать как и что делать. Я просто учусь делать то, что мне важно. Именно такого чувства не дает университет. В академе я в первый раз за три года почувствовал это чувство свободы и настоящего счастья. У меня есть все, потому что мне ничего другого не надо. Наверно по этому по-настоящему умные люди не стремятся специально к богатству, скромно одеваются, и обычный человек, взглянув, подумает: "Что за бедняк, никогда бы не хотел стать как он" - но он дествительно знает, что такое быть счастливым.</p>
    <p>Без твоих стараний и твоего характера я бы никогда не думал о таком и, наверное, просто бы учился ради того, чтобы учиться, а потом бы просто работал чтобы зарабатывать. Но нет. Ты показала что все занятия должны нести идею. Спасибо, что научила меня быть счастливым.</p>
    </div>
    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>  
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
        <div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>
    </footer>
{%endblock%}