{%extends 'layout.html'%}

{%block title%}Детство{%endblock%}

{%block hat%}
  <img class="img-responsive head" src="../static/post2.jpg">
{%endblock%}

{%block main%}
    <div class="mainPost"><p>С самого детства ты была для меня примером поведения, стойкости и морали. Ведь кажется, как человек может успевать все делать и таким качеством и огнем в глазах. Ты взрастила веру в то, что в мире всегда есть что-то хорошее, даже если кажется что все плохо надо смотреть на лучшее и верить в светлое будущее. Вера во что-то высшее, что душа осязаема и мы не просто биологические существа. Очень здорово верить во сверхьестественное, что ты всегда не один и у всех своя судьба. </p>
    <p>Насколько сложно вложить идеалы в растущего человека? На это ты точно знаешь ответ. Растила меня на чудесных книжках. Каждый вечер читала мне "Волшебника изумрудного города", мы читали "38 попугаев" и "Приключения в Простоквашино". Эти книжки стали моими любимыми историями и любовь к чтению творческой литературы пошла именно от них. Знаю что ты любила читать, и ты смогла мне передать часть того, насколько это интересно. 
    Водила в цирк и музеи. Выступления в кировском цирке, в который ты меня водила - это чудесно. Этот запах, атомсфера, акробаты и животные, все было настолько удивительно и не обычно что не передать. В моей голове рождались идеи и образы. Выставки в Музее Васнецова привили чувство вкуса, любвоь к исскусству и осознание исторической ценности. Ты водила меня в школу и помогала с уроками. Я понял важность того что интересно, ведь всегда надо  цепляться за это. </p>
    <p>Я всегда буду это помнить с бесконечной теплотой и благодарностью. С улыбкой на лице я вспоминаю дество, которое ты создала.</p></div>
    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>  
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
        <div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>
    </footer>
{%endblock%}