{%extends 'layout.html'%}

{%block title%}Школа{%endblock%}

{%block hat%}
  <img class="img-responsive head" src="../static/post3.jpg">
{%endblock%}

{%block main%}
    <div class="mainPost"> <p>По мере взросления все заложенные ценности укреплялись. Очень важно, что в доме всегда царила чистота, уют и спокойствие. Можно было не отвлекаться на бытовые вещи и стремится к каким-то начинаниям и нацеливаться на них. Я очень многое опробовал и выбирал для себя лучшие направления. Я благодарен что ты не заставляла учить все подряд без разбора и просто зазубривать или пытаться добиться чего-то, даже если в этом нет смысла и интереса. Во всем я искал смысл, интерес и выглядывал перспективы. Все чем я занимался было не зря, и если бы появилась возможность вернуться назад во времени я бы ничего не поменял, не стал бы заниматься тем что мне не интересно, либо тем к чему пропал интерес. Главная цель в жизни родилась от всего этого.
    Главная цели - счастье. И достигается оно интересом к жизни, не важно какое у тебя материального состояние, не важно сколько ты зарабатываешь, главное - что ты счастлив тем чем занимаешься. Современный мир полностью прогнил желанием богатства и идеей, что лишь материальное богатство принесет тебе свободу. Счастье, по-моему - лишь свобода от желаний. Счатье это не когда сходил в кафе и после этого стал счатслив, счастье это когда ты и без похода в кафе был счастлив. Богатство рождает мысли, и я говорю не только про материальное богатство. Когда ты по-настоящему свободен мыслями от обыденных желаний, рождаются мысли и идеи о чем-то более высоком. Все мысли появлялись благодаря тому, что ты заложила.</p>
    <p>Время школы было отличным и самое замечательное что ты принимала все идеи и начинания, и отдавала полное понимание без всяких упреков. Думаю отсутвие нравоучений говорит само за себя, значит ты довольна тем что заложила в моей личности ранее.</p>
    </div>
    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>  
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
        <div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>
    </footer>
{%endblock%}