{%extends 'layout.html'%}

{%block title%}Начало{%endblock%}

{%block hat%}
  <img class="img-responsive head" src="../static/post1.jpg">
{%endblock%}

{%block main%}
    <div class="mainPost"><p> У нас есть семья. Вносить душу в семью очень сложное занятие и мало кто хочет этим заниматься. Всем лишь бы вносить разногласия и отказываться принимать любые идеи. Ты из тех кто вносит большой вклад в семью и стараешься отдавать все. Весь быт лежит на твоих плечах и ты с этим отлично справляешься. У тебя всегда удается оставаться сильной и вдохновлять нас. Идеи, которые ты вкладываешь в нашу семью имеют большую ценность. Именно ты заствляешь работать наше правое полушарие, мыслить символами и образами, быть творческмими, использовать креативное мышление и интуицию. Смотря на тебя, начинаешь думать что быть родителем это сложное занятие, но ты делаешь это так легко и не принужденно, что хочешь или не хочешь, поверишь в любовь и силу семьи. Благодаря тебе, можно с уверенностью сказать что мы - ячейка общества. Хотелось бы, чтобы все старались так, как ты.</p></div>
    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>  
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
        <div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>
    </footer>
{%endblock%}