{%extends 'layout.html'%}

{%block title%}Пожелания{%endblock%}

{%block hat%}
  <img class="img-responsive head" src="../static/post5.jpg">
{%endblock%}

{%block main%}
    <div class="mainPost"><p>С Юбилеем! Всё это - длинные слова благодарности, ведь я помню много всего и ценю каждый момент. Я знаю что ты чудесный человек и надеюсь что ты так же будешь отрекать все не нужные желания и всегда будешь думать о чем-то большем. Я и Юля желаем тебе счастья, здоровья и чтобы ты всегда была такой, какой ты всегда и хотела быть.</p>
    <p>Я тебя очень люблю и безумно рад что ты есть!</p></div>
    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" onclick="return up()" class="linkP">Back to top</a>
        </p>  
        <p>Сайт создали &copy; <a href="https://vk.com/id219984868" class="linkP">Андрей</a> и <a href="https://vk.com/julvyl" class="linkP">Юля</a></p>
        <p>Мы поздравляем тебя с праздником и желаем, чтобы ты всегда была счастлвива!</p>
        <div class="ya-share2 float-right" data-services="vkontakte,facebook"></div>
      </div>
    </footer>
{%endblock%}